.file-modal-case{
  max-height: 450px;
  overflow: auto;
  overflow-x: hidden;
}

.file-modal-header{
  display: flex !important;
  justify-content: space-between;
  align-items: baseline;
}


.file-img , .file-download-img{
     width: 35px !important;
     height: 100%;
     object-fit: contain;
}

.file-download-img{
     cursor: pointer;
}

.card-body-docs{
     height: 110px;
     overflow: auto;
}

.file-item{
  border-bottom: 1px solid;
}



/* width */
::-webkit-scrollbar {
     width: 8px;
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px grey; 
     border-radius: 10px;
   }
    
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: #2b64ea; 
     border-radius: 10px;
   }
   
   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
     background: #193e94; 
   }