.homepage {
  


    .MuiPaper-root{
        background: #07152a  !important;
        border-radius: 10px !important;
      }
      .MuiPickersDay-root.Mui-selected{
        background: #3055e8 !important;
      }
    
      .MuiPickersDay-root{
        background: #27293d !important;
        color: white !important;
        outline: none !important;
        &:hover {
          background-color: #3055e8 !important;
        }
    }
    
    .css-1w13o7u-MuiTypography-root ,
     .css-1bx5ylf , .css-1bx5ylf , .css-f4950f-MuiSvgIcon-root,
     .css-fd2y78-MuiSvgIcon-root , .css-i4bv87-MuiSvgIcon-root,
     .css-hc7ms0
     {
      color: white !important;
      
    }
    
    .MuiButtonBase-root{
      outline: none !important;
    }
    
    .css-1bx5ylf , .css-1bx5ylf , .css-fd2y78-MuiSvgIcon-root {
      color: white !important;
    }














}